.myrows{
    border: 3px solid green
}
.mycols{
    border: 3px solid red
}
.mycontainer{
    background-color : aqua;
    /* border: 3px solid red */
}
#topHeader{
    background-color:rgb(226, 248, 248);
    border-bottom: 1px silver;
     
}
#topHeader a{
    color: #043242;
    font-weight: 500;
    font-size: 1rem;
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

nav ul li a {
    font-size: 1.1rem;
    font-weight: 600;
}

/* Strat Footer */
.full-footer{
    background-color: #30336b;
    
}

.top-footer p{

    color: white;

}
.top-footer a{

    color: white;
    font-weight: 300;

}
.top-footer h3{

    color: white;
    font-weight: 700;

}
.top-footer h2{
    color: white;
    font-weight: 800;
}
.botton-footer{
    background-color: #130f40;
    
}
.botton-footer p{
    color: white;
}
/* End Footer */

/* Satrt: Home page */

.top-hero-section{
    background-color: #0984e3;
    color: white;
}
.top-hero-section a{
    color: white;
}
.requirements{
    background-color: rgb(2, 2, 44);
    color: white;
}
.news-letter-section{
    background-color: rgb(2, 2, 44);
    color: white;
}

.news-letter-section .form-control{
    height: 50px;
    border-color: transparent;
    border-radius: 20px 0 0 20px;
}
.news-letter-section .btn{
    height: 50px;
    background: #850554;
    border-radius: 0 20px 20px 0;
    color: white;
}
.client{
    background-color: silver;
}
/* End :  Home page */